.conteiner {
  margin: 0 auto;
  width: 75vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  cursor: pointer;
}

.input-login {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.input-password {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.filter-form {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  align-items: baseline;
  justify-content: center;
}

#visitFilterForm {
  display: flex;
  gap: 15px;
  align-items: baseline;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type='text'],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.visit-card p {
  margin: 0;
}

button.delete-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.active {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 0;
  border: 1px solid #888;
  width: 80%;
}

.hidden {
  display: none;
}

body {
  background-image: url('./img/1587112490_15-p-meditsinskie-foni-44.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.delete-btn {
  color: #fefefe !important;
}
